<%= stylesheet_link_tag "landing" %>

<div id="welcome_page_image"></div>
<div class="text">
	<h1 id="welcome_page_title">Launchsh.it</h1>
	<p id="welcome_page_link"><%= link_to "Get Started", shows_path %></p>
</div>
