body {
	font-size: 12px;
	margin-left : 0px;
	margin-right : 0px;
	margin-bottom : 0px;
	margin-top : 0px;
	color: #5E5E5E;
	padding:0px;
	font-family: 'Roboto', sans-serif;
}

ul {
	margin: 0px;
	padding:0px;
}

li {
margin: 0px;
padding:0px;
}
h2 {
	font-size: 20px;
	
	margin-top: 10px;
	margin-bottom: 10px;
}

h3 {
	margin:0px;
}


p {
	margin-top: 5px;
	margin-bottom: 0px;
}



.form_text_field {
	height:20px;
  width: 200px;
  margin-bottom: 8px;
}

.form_text_label {
	margin-top: 6px;
	margin-bottom: 4px;
}

a:link {
	color: #5E5E5E;
	text-decoration:underline;
}
a:visited {
	color: #5E5E5E;
	text-decoration:none;
}
a:hover {
	color: #C4C4C4;
	text-decoration:underline;
}
a:active {
	color: #C4C4C4;
	text-decoration:underline;
}

.radio_link a {
	color: #5E5E5E;
	text-decoration:none;
}
.radio_link a:visited {
	color: #5E5E5E;
	
}  

.radio_link a:hover {
	color: #5E5E5E;
	text-decoration:underline;
}

.form_padder {
	/*border: solid 1px black;*/
/*	margin: 0px;
*/	padding: 0px;
	margin-left: 20px;
	margin-bottom: 20px;
}

 .form_p {
	font-size: 18px;
}

.status {
	font-size: 12px;
}
.flash {
	border: 1px solid #ffffff;
	height:30px;
	width:200px;
	margin-left: auto;
	margin-right:auto;
	padding-top:7px;
	padding-bottom:2px;

	text-align: center;
	font-size: 18px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}

.flash-true {
		border: 1px solid #C46210;
	height:30px;
	width:200px;
	margin-left: auto;
	margin-right:auto;
	padding-top:10px;
	padding-bottom:5px;

	text-align: center;
	font-size: 18px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}

#welcome_notice {
	font-family: 'Codystar', cursive;
	font-color: #ffffff;
	font-size: 3em;
	text-align: left;
 	letter-spacing:3pt;
 	width: 100%;
 	margin-left : 20px;
	margin-right : 20px;
	margin-top : 5px;
}

#outer {
	width: 100%;
	/*border-right: solid 1px black;*/
	margin-left: 15px;

	margin-top: 5px;

}


.narrow_col {
	width: 20%;
  float: left; 
   height:auto;
  padding-left: 10px;
}

.wide_col {
	/*border: solid 1px black;*/
	width: 35%;
  float: left;
  height:auto;
  padding-left: 10px;
}



.fw_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;

	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	height:33px;
	line-height:33px;
	width:149px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
	margin-top: 5px;
	margin-bottom: 12px;
}
.fw_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.fw_button:active {
	position:relative;
	top:1px;
}
