#index_page {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 50px;
	/*border: 2px solid black;*/
}

#shows_div {
	border: 1px black solid;
	border-radius: 3px;
	padding: 10px;
	background-color:rgba(0,0,0,0.05);
	width: 35%;
	height:600px;
	margin-right:3px;
	top:50px;
	/*background-color: #4D9165;*/
	/*border: 2px solid black;*/
}

#fireworks_index_page {
	margin-left: 20px;
	/*border: 2px solid black;*/
}

#boards_div {
	position:absolute;
  right:1%;
  border: 1px black solid;
	border-radius: 3px;
	padding: 10px;
	background-color:rgba(0,0,0,0.05);
	width: 35%;
	top:95px;
	height:600px;
	margin-left: 5px;
}

.user_instructions {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
/*	width: 20%;
*//*	margin-top: -100px;
*/	border: 1px black solid;
	border-radius: 3px;
	padding: 4px;
	background-color:rgba(0,0,0,0.05);
}

.launch_instructions {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
/*	width: 20%;
*//*	margin-top: -200px;
*/	border: 1px black solid;
	border-radius: 3px;
	padding: 4px;
	background-color:rgba(0,0,0,0.05);
}

div.central_info {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 20%;
	margin-top: -400px;
}

div.launch_info {
	margin-top: 100px;
}

div.upload_info {
	/*margin-top: -400px;*/
}

.show_button {
	display: inline-block;
	position: relative;
	overflow: visible;
	width: auto;
	padding: 5px 10px 6px;
	border-bottom: 1px solid rgba(0,0,0,0.25);
	margin-right: 2em;
	background: #595A5C;
	color: #fff !important;
	font-size: 13px;
	font-weight: bold;
	line-height: 1;
	text-decoration: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	cursor: pointer;
}

.board_button {
	display: inline-block;
	position: relative;
	overflow: visible;
	width: auto;
	padding: 5px 10px 6px;
	border-bottom: 1px solid rgba(0,0,0,0.25);
	margin-right: 2em;
	background: #595A5C;
	color: #fff !important;
	font-size: 13px;
	font-weight: bold;
	line-height: 1;
	text-decoration: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	cursor: pointer;
}

button.upload {
	/*margin-top: 50px;*/
/*	margin-left: 47%;
*/	display: inline-block;
	position: relative;
	overflow: visible;
	width: auto;
	padding: 5px 10px 6px;
	border-bottom: 1px solid rgba(0,0,0,0.25);
/*	margin-right: 2em;
*/	background: #0DA31F;
	color: #fff !important;
	font-size: 13px;
	font-weight: bold;
	line-height: 1;
	text-decoration: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	cursor: pointer;
}

button.fire {
/*	margin-top: 150px; */
	display: inline-block;
	position: relative;
	overflow: visible;
	width: auto;
	padding: 5px 10px 6px;
	border-bottom: 1px solid rgba(0,0,0,0.25);
/*	margin-right: 2em;
*/	background: #F50000;
	color: #fff !important;
	font-size: 13px;
	font-weight: bold;
	line-height: 1;
	text-decoration: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	cursor: pointer;
}