a:link {
	color:#153E85;
}  

a:visited {
	color:#153E85;
}  

a:hover {
	color:#568AE3;
}  

/*#welcome_page_title {
	font-family: 'Codystar', cursive;
	font-size: 4em;
	text-align: center;
}*/

/*#welcome_page_link {
	text-align: center;
	font-size: 2em;
	font-family: 'Duru Sans', sans-serif;
}*/

body {
  font-family: 'Roboto', sans-serif;
  color:#7F8581;
}

#edit_show_name {
 /* border: 1px black solid;*/
  position: absolute;
  margin-left:0%;
  padding-left:1%;
  top:0%;
 /* display:inline-block;*/
  margin-top: 0%;
  width:512px;
  height:50px;
  font-size:1.5em;
}

#download_list {
	position: absolute;
  right:1%;
  top:5%;
  margin-top: 0%;
}


#fireworks_section {
  right:0%;
  width:512px;
  height:339px;
  float:right;
  top:0%;
  margin-top: 0%;
  margin-bottom: 0%;
  position:absolute;
  background-color:rgba(0,0,0,0.05);
}

#add_fireworks_link {
  position: absolute;
  right:1%;
  top:6%;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-top:18px;
  font-size:16px;
  display:block;

}

#your_shows {
  display: block;
  position: absolute;
  right:1%;
  top:0%;
  margin-top: 0%;
  font-size:16px;
}

#fireworks_title {
  position: absolute;
  left:1%;
  top:43%;
  font-size:1.2em;
  margin-top: 0%;
  margin-bottom: 0%;

}


#fireworks_list {
  position: absolute;
  margin-top: 0%;
  top:50%;
}

.btn-btn-primary {
  display: inline-block;
  position: relative;
  overflow: visible;
  width: auto;
  padding: 5px 10px 6px;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  margin-right: 2em;
  background: #595A5C;
  color: #fff !important;
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  cursor: pointer;
}

.firework_buttons {
  margin-left: 0%;
  display:block;
  position: relative;
  overflow: visible;
  width:121px;
  padding: 5px 10px 6px;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  background: #1c94c4;
  color: #fff !important;
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  cursor: pointer;
}

/*.firework_buttons:visited {
  color:#153E85;
}  

.firework_buttons:hover {
  color:#568AE3;
}  */